* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

a {
    text-decoration: none;
}

a:active,
a:hover,
a:link,
a:visited {
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    color: #F9FAF8;
    width: 100px;
}

.header {
    background-color: #1F2937;
    padding-top: 10px;
}

.header.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar.span {
    font-size: 24px;
    color: #F9FAF8;
    padding-left: 260px;
}

.navbar.links {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    padding-right: 20px;
}

.header.content {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 100px 260px;
}

.header.content>.content-and-signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header.content>img {
    padding-right: 20px;
}

.content-and-signup>span:nth-child(1) {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    width: 300px;
}

.content-and-signup>span:nth-child(2) {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.content>.title {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 25px 0;
}


.content>.image-with-text>.images,
.content>.image-with-text>.texts {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.content>.image-with-text>.images {
    padding: 25px 0 5px 0;
}

.content>.image-with-text>.texts {
    text-align: center;
    padding-bottom: 80px;
}

.content>.image-with-text>.images>.first-img,
.content>.image-with-text>.images>.second-img,
.content>.image-with-text>.images>.third-img,
.content>.image-with-text>.images>.fourth-img {
    border: #3882F6 2px solid;
    border-radius: 15px;
    width: 120px;
    height: 120px;
}

.content>.image-with-text>.texts>.first-text,
.content>.image-with-text>.texts>.second-second,
.content>.image-with-text>.texts>.third-third,
.content>.image-with-text>.texts>.fourth-fourth {
    width: 120px;
}